<%- include("partials/header"); -%>
    <h1>About</h1>

    <p> Sharpen your wits, ladies and gentleman! The Barbershop is a cutting edge shop in Eau Claire that offers a very unique combination of offerings. </p>

    <p>Style and substance come together in this hidden gem. The establishment is part barbershop and part hang out. This means
       you sit and chat while enjoying a cut or straight razor shave some from some of the best barbers in the area. </p>

       <p>The Barbershop promises not just novelty, but a full fledged experience that is unlike any other.</p>

       <p>You’ll feel as if you’ve transported back to a different era as you explore the space, which is furnished with swanky sofas and features richly appointed details throughout. 
        With an ambiance unlike any other bar you’ve ever been to, this space is a modern nod to some of the greatest whiskey bars in the world. </p>

        <p>Relax as you enjoy an expert cut or shave, and feel like a million bucks as you emerge stylish and satisfied with your visit to a forgotten era.</p>

        <p>The Barbershop is a throwback to a simpler time, when whiskey and liquor were king, and word of mouth was gold.</p>


<%- include("partials/footer"); -%>