<%- include("partials/header"); -%>

    <h1>Book Now! center align</h1>

    <div class="register"> 
      <h4>Add cart</h4>

      <h4 class="accountWelcome">Have an account with us? <a href="/login">Sign in</a></h4>
    
    </div>
    
    <div class="serviceNames">

      <h2>Services</h2>

      <ul>
        <li>Haircut</li>
        <li>Bread</li>
        <li>Wax</li>
        <li>Style</li>
        <li>Color</li>
      </ul>

  </div>

  <div class="staff">

    <h2>Staff Members - add with forEach</h2>

    <ul>
      <li>Eric C</li>
      <li>David O</li>
      <li>Frank S</li>
      <li>Peyton M</li>
      <li>Chris L</li>
      <li>Shawn W</li>
      <li>Devon H</li>
      <li>Jessica F</li>
      <li>Gretchen K</li>
    </ul>

</div>

<div class="serviceOrder">

  <div class="orderFor"></div>

  <h2>Who are you booking for?</h2>

  <select name="bookFor" id="for">
    <option value="myself">Myself</option>
    <option value="family">Family Member</option>
  </select>

  <h2>Who would you like to book with? add with foreach inside a dropdown</h2>

  <select name="bookFor" id="staffBooked">
    <option value="Eric">Eric</option>
    <option value="David">David</option>
    <option value="Chris">Chris</option>
  </select>

  <div class="ordered">

    <h3>Haircut add options and time lengths</h3>

    <h3>Beard</h3>

    <h3>Wax</h3>

    <h3>Style</h3>

    <h3>Color</h3>
  </div>



</div>






<%- include("partials/footer"); -%>