<%- include('partials/header') %>


  <div class="bookNow">
    <h1 class="title-text">Hours and Appointments</h1>

    <button><a href="/booking">Book Now</a></button>


    <h2>Testimonials</h2>

    <p>add in a carousel of testminonials</p>

  </div>

  
<%- include('partials/footer') %>